/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body {
  background: #fff url("http://www.scan3d4d.com/_images/background_fades/home_bgfade.jpg") 0 0 repeat-x;
}

.grey_background{
  background-color: #bdc3c7;
}

.asphalt_background{
  background-color: #34495e;
}
.green_background{
  /*background-color: #2ecc71;*/
  height:120px;
  background: url("http://www.arvielectrosoft.in/images/header/main-inside-header-bg.jpg") 0 0 ;
  background-size:100% 100%;
}

.bradius_10{
  border-radius: 10px;
}

.super_header{
  height:100px;
  
}